<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Create a Space | ShireBnB</title>
  <link rel="stylesheet" href="/static/form.css" />
  
</head>
<body>
  <div class="nav-links">
    <a href="/dashboard/{{current_user.id}}">Dashboard</a>
    <a href="/logout">Logout</a>
  </div>
  <img src="{{ url_for('static', filename='shirebnb-removebg-preview.png') }}" alt="ShireBnB Logo" class="logo" />

  <div class="container">
    <h1>Create a New Hobbit Hole Listing</h1>

    <form action="/create_space" method="POST">
      <p>
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" placeholder="What should we call it?" required>
      </p>
      <p>
        <label for="description">Description:</label>
        <textarea name="description" id="description" placeholder="Tell us about your space..."></textarea>
      </p>
      <p>
        <label for="price_per_night">Price per night:</label>
        <input type="number" name="price_per_night" id="price_per_night" placeholder="£5" required>
      </p>
      <p>
        <label for="url">Picture URL:</label>
        <input type="text" name="url" id="url">
      </p>
      <input type="submit" value="Create Space">
    </form>
  </div>
</body>
</html>
