<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/all_spaces.css" />
</head>
<body>
  
      


     <div class="nav-links">
      <a href="/sign_in">Login</a>
    </div>
    <img src="{{ url_for('static', filename='shirebnb-removebg-preview.png') }}" alt="ShireBnB Logo" class="logo" />

    <h1 style="text-align: center;">{{user_data.username}}'s Profile</h1>

    <div class="container">
    <h3>Your Properties</h3>

    <div class="grid-container">
      {% for space in spaces %}
      <a href="/space/{{space.id}}"> 
        <div class="space-card">
          <img src= "{{space.url}}" class="space-img"/>
            <div class="space-info">
            <p class="space-name">{{space.name}}</p>
      
           <p class="space-price">price {{space.price_per_night}}</p>
           </div>
        </div>
      </a>
      {% endfor %}
    </div>


    <ul><span>Bookings to approve</span>
        <!-- loop through each booking to create an li of bookings needing to be approved -->
        <li>

        </li>
        
    </ul>

</body>
</html>