<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/all_spaces.css" />
</head>
<body>
  
      


     <div class="nav-links">
      <a href="/sign_in">Login</a>
      <a href="/all_spaces">View Spaces</a>
    </div>
    <img src="{{ url_for('static', filename='shirebnb-removebg-preview.png') }}" alt="ShireBnB Logo" class="logo" />

    <h1 style="text-align: center;">{{user_data.username}}'s Profile</h1>

    <div class="container">
    <h3>Your Properties</h3>
    <a href="/create_space"><button class="btn">Create Spaces</button></a>


    <div class="grid-container">
      {% for space in spaces %}
      <a href="/space/{{space.id}}">
        <div class="space-card">
          <img src= "{{space.url}}" class="space-img"/>
            <div class="space-info">
            <p class="space-name">{{space.name}}</p>
        
           <p class="space-price">price {{space.price_per_night}}</p>
              {% for booking in space_bookings %}
                {% if booking['space_id'] == space.id %}
                <div class ="booking-request">
                  <p class="booking-date">
                    {{booking['username']}}<br>
                    {{booking['date']}}
                    </p>
                    {% if booking['is_approved'] == False %}
                    <form method="POST" action="/approve_booking/{{booking['booking_id']}}">
                    <button class="btn" type="submit">Approve</button>
                    </form>
                    <form method="POST" action="/decline_booking/{{booking['booking_id']}}">
                    <button class="btn-red" type="submit">Decline</button>
                    </form>
                    {% else %}
                      <form method="POST" action="/decline_booking/{{booking['booking_id']}}">
                      <button class="btn-red" type="submit">Cancel</button>
                      </form>
                    {%  endif  %}
                  
                </div>
                {%  endif  %}
              {% endfor %}
           </div>
        </div>
        </a>
      
      {% endfor %}
    </div>


    <div class="container">
    <h3>Hobbit Holes Booked</h3>


    <div class="grid-container">
      {% for space in holidays_booked %}
      <a href="/space/{{space['space_id']}}">
        <div class="space-card">
          <img src= "{{space['url']}}" class="space-img"/>
            <div class="space-info">
            <p class="space-name">{{space['name']}}</p>
        
           <p class="space-price">price {{space['price_per_night']}}</p>
                <div class ="booking-request">
                  <p class="booking-date">
                    1 Night {{space['date']}}:
                  <br>
                    {% if space['is_approved'] == False %}
                    Awaiting Approval
                    {% else %}
                    Approved
                    {%  endif  %}
                  </p>
                    <form method="POST" action="/decline_booking/{{space['booking_id']}}">
                    <button class="btn-red" type="submit">Cancel</button>
                    </form>
                </div>
           </div>
        </div>
        </a>
      
      {% endfor %}
    </div>
</body>
</html>