<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="login_form"> 
        <h1>Sign In</h1>
        <form action="/sign_in", method="POST">
        <p>
        <input type="username" name="username" id="username"placeholder="Username"required>
        </p>
        <p>
        <input type="password" name="password" id="password"placeholder="Password"required>
        </p>
        <p>
        <button type="submit" id="submit" value="submit">Login</button>
        </p>
        </form>
</body>
</html>