<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon3.png">
    <link rel="stylesheet" href="/static/form.css" />
</head>
<body>
    <div class="nav-links">
    <a href="/sign_in">Login</a>
    <a href="javascript:history.back()">Go Back</a>
    </div>
    <img src="{{ url_for('static', filename='shirebnb-removebg-preview.png') }}" alt="ShireBnB Logo" class="logo" />
    <div class="sign-in-container"> 
        <h1>Sign Up</h1>
        <form action="/sign_up" method="POST">
        <p>
        <input type="text" name="username" id="username"placeholder="Username"required>
        </p>
         <p>
        <input type="text" name="email" id="email"placeholder="Email"required>
        </p>
        <p>
        <input type="password" name="password" id="password"placeholder="Password"required>
        </p>
         <p>
        <input type="text" name="phone_number" id="phone_number"placeholder="Phone number"required>
        </p>
        <div class="button-container">
        <button type="submit" id="submit" value="submit">Create account</button>
        </div>
        </form>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

</body>
</html>