<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{space.name}}</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon3.png">
     <link rel="stylesheet" href="/static/one_space.css" />
</head>

<body>
    <div class="nav-links">
      <a href="/sign_in">Logout</a>
      <a href="/all_spaces">View Spaces</a>
      <a href="/dashboard/{{current_user.id}}">Dashboard</a>
    </div>
    <img src="{{ url_for('static', filename='shirebnb-removebg-preview.png') }}" alt="ShireBnB Logo" class="logo" />

    <h1 style="text-align: center;">{{space.name}}</h1>
<div class="container">
    <div class="space-card">
      <img src="{{space.url}}" width="600" height="400">
       <div class="space-info">
         <p>{{space.description}}</p>

    <p>£{{space.price_per_night}} per night</p>
       </div>
    
      <div>
      <a href="/bookspace/{{ space.id }}" class="btn">Book now</a>
      </div>
    </div>
</div> 
</body>
</html>